@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.shepherd-element {
    font-family: "Noto Sans", sans-serif !important;
    padding: 0px;
    border-radius: 8px !important;
    position: relative;
    box-shadow: rgba(71, 75, 255, 0.075) 0px 2px 3px !important;
    background: #111827 !important;
    z-index: 1000;
    color: white !important;
}

.shepherd-theme-custom .shepherd-text {
    padding: 0px;
}

.shepherd-theme-custom .shepherd-footer {
    border-radius: 0px;
}

.t3-card {
    padding: 15px;

}

.t3-card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.t3-card-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    /* margin-bottom: 10px; */
    color: white;
}

.t3-card-text {
    color: white;

    font-size: 12px;
    font-weight: 300;
}

.t3-card-image {
    color: #5c4033;
    width: 60px;
    height: 60px;
    background-color: navajowhite;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.shepherd-theme-custom .shepherd-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;
}

.shepherd-theme-custom .shepherd-button {
    all: unset !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 44px !important;
    height: 44px !important;
    background-color: #1f2937 !important;
    color: white !important;
    border-radius: 50% !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    transition: all 0.2s ease !important;
}

.shepherd-theme-custom .shepherd-button:hover {
    color: #5c4033 !important;
    background-color: white !important;
}

.shepherd-theme-custom .shepherd-button .shepherd-button-secondary {
    color: #5c4033 !important;
    background-color: white !important;
}

.shepherd-arrow::before {
    background: #111827 !important;
}

.close-btn {
    position: absolute;
    right: -5px;
    top: -5px;
    height: 20px;
    width: 20px;
    color: white;
    background-color: white;
    border-radius: 100%;
    padding: 4px;
    color: #5c4033;

}

.close-btn:hover {
    cursor: pointer;
}